@import url(app/variables.css);

.footer {
  margin-top: 4rem;
  font-family: "Fira Mono", sans-serif;
  font-size: .9rem;
  color: var(--color);

  &Content {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-top: 1px solid color(var(--color) l(+80%));
  }
}
