{
  "presets": [
    "es2015",
    "es2016"
  ],
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-flow-strip-types",
    "add-module-exports"
  ]
}
