@import url(app/variables.css);

.navLink {
  display: inline-block;
  position: relative;
  text-decoration: none;
  line-height: .6;
  font-family: "Fira Mono", monospace;
  font-size: 1em;
  color: var(--colorLink);

  &Label {
    position: relative;
    z-index: 1;
  }

  &::before,
  &::after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 6px;
  }
  &::before {
    background: color(var(--color) l(+80%));
  }
  &::after {
    background: var(--colorLink);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .2s;
  }

  &:focus,
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
