:root {
  --color: #182234;
}

.header {
  &Nav {
    padding: 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid color(var(--color) l(+80%));
  }
    &Logo {
      display: inline-block;
      font-size: 3rem;
      color: var(--color);
    }
}
