@import url(app/variables.css);

.header {
  &Nav {
    padding: 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid color(var(--color) l(+80%));
  }
    &Logo {
      display: block;
      font-size: 1.6rem;

      & svg {
        display: block;
        height: 1em;
        width: auto;
      }
    }
}
