@import url(app/variables.css);

.homepage {
  &Header {
    padding: 10rem 0;

    &Content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
      &Title {
        margin: 0;
        padding: 0;

        &Link {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: var(--color);
        }
        &Logo {
          font-size: 3.5rem;

          & svg {
            display: block;
            height: 1em;
            width: auto;
          }
        }
        &Text {
          margin-top: 2rem;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 3rem;
        }
      }
      &Lead {
        margin: 0;
        padding: 1.6rem 0 2rem;
        font-family: "Roboto", sans-serif;
        font-size: 1.4rem;
        color: color(var(--color) l(+60%));
      }
      &Nav {
        margin: 0;
        padding: 2rem;
        border-top: 1px solid color(var(--color) l(+75%));
        font-size: .85rem;
      }
  }
  &Content {
    padding: 0 2rem;
  }
}
