/* Using global sytles is not recommended, prefer local styles via CSS Modules */
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Roboto:400,400i,500);

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: #fff;
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:--headings {
  position: relative;
}

.phenomic-HeadingAnchor {
  position: absolute;
  padding-right: .75rem;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity .2s, color .2s;
  text-align: right;
  text-decoration: none;
  font-weight: 500;
  color: color(#182234 l(+70%));

  &:hover,
  &:focus {
    color: #295cc2;
  }

  @nest :--headings:hover & {
    opacity: 1;
  }
}

/* Base16 Duotone-DarkLake Dark - Theme */
/* by adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Duotone-DarkLake Comment */
.hljs-comment {
  color: #526589;
}

/* Duotone-DarkLake Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #295cc2;
}

/* Duotone-DarkLake Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f075b5;
}

/* Duotone-DarkLake Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #f584bf;
}

/* Duotone-DarkLake Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #ba97a9;
}

/* Duotone-DarkLake Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #ffa3d3;
}

/* Duotone-DarkLake Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #f994c9;
}

/* Duotone-DarkLake Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #406abf;
}

.diff .hljs-deletion,
.diff .hljs-addition {
  color: #182234;
  display: inline-block;
  width: 100%;
}
.diff .hljs-deletion {
  background-color: #295cc2;
}
.diff .hljs-addition {
  background-color: #ba97a9;
}
.diff .hljs-change {
  color: #f994c9;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1rem 1.25rem;
  background: #182234;
  border-radius: 2px;
  line-height: 1.8;
  font-family: "Fira Mono", monospace;
  font-size: .9rem;
  color: #4e72bc;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
