@import url(app/variables.css);

.githubCorner {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  transition: color .2s;
  color: var(--color);

  &:focus,
  &:hover {
    color: var(--colorLink);
  }
}

@media screen and (max-width: 65em) {
  .githubCorner {
    display: none;
  }
}
