:root {
  --color: #182234;
  --colorLink: #295cc2;
}

.documentation {
  display: flex;

  &Nav {
    flex: 0 0 8rem;
    position: relative;
  }
  &Content {
    flex: 1;
    padding: 2rem 0;
    margin-left: 4rem;
    padding-left: 4rem;
    border-left: 1px solid color(var(--color) l(+80%));
  }
}

.nav {
  padding: 2rem 0;

  &Sticky {
    composes: nav;
    position: fixed;
    top: 0;
  }

  &List {
    padding: 0;
    margin: 0;
    list-style: none;
  }
    &Item {
      padding: .2rem 0;
    }
      &Link {
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 1.05rem;
        color: color(var(--colorLink) l(+20%));

        &Active {
          composes: navLink;
          font-weight: 500;
          color: var(--colorLink);
        }
      }
}
