@import url(app/variables.css);

.typography {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: #182234;

  &Title {
    margin: 0;
    padding: 0;
    margin-bottom: 4rem;
    font-weight: 400;
    font-size: 2.4rem;
  }

  & h2,
  & h3,
  & p,
  & ul,
  & ol {
    margin: 0;
    padding: 0;
    font-weight: 400;

    & code {
      padding: .4em .6em;
      background: var(--color);
      border-radius: 2px;
      font-family: "Fira Mono", monospace;
      font-weight: 400;
      font-size: .65em;
      color: #fff;
    }

    & em {
      margin: 0 .25rem;
      font-size: .9em;
      color: color(var(--color) l(+50%));
    }
  }

  & h2 {
    margin: 3rem 0 1.5rem;
    font-size: 1.5rem;
    color: color(var(--color) l(+25%));

    &:first-of-type {
      margin-top: 0;
    }
  }

  & h3 {
    margin: 2rem 0 1rem;
    padding: .5rem;
    background: color(var(--color) l(+80%));
    border-radius: 2px;
    line-height: .7;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    color: color(var(--color) l(+40%));
  }

  & hr {
    margin: 5rem 0;
    height: 1px;
    width: 100%;
    border: none;
    background: color(var(--color) l(+75%));
  }

  & blockquote {
    margin: 1rem 0 2rem;
    padding: 1rem 2rem;
    background: color(var(--color) l(+80%));
    border-radius: 2px;
    color: color(var(--color) l(+40%));

    & p {
      font-size: 1rem;
    }
  }

  & p {
    margin: .5rem 0;
    line-height: 1.6;
    font-size: 1.2rem;
  }

  & ul,
  & ol {
    margin: 1.5rem 0 3rem;
    padding: 0 2rem;

    & li {
      margin: .5rem 0;
      line-height: 1.4;
      font-size: 1.2rem;
    }
  }

  & p,
  & ul,
  & ol {
    & a {
      position: relative;
      text-decoration: none;
      color: var(--colorLink);

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 1px;
        background: var(--colorLink);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .2s;
      }
      &:focus,
      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  & strong {
    font-weight: bold;
  }

  & em {
    font-style: italic;
  }
}
