@import url(app/variables.css);

.loader {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.spinner {
  height: 3vh;
  min-height: 3rem;
  width: 3vh;
  min-width: 3rem;
  border: 6px solid color(var(--colorLink) l(+40%));
  border-top-color: var(--colorLink);
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;

  /* the opacity is used to lazyload the spinner, see animation delay */
  opacity: 0;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}
